/* resset all of the default to 0 so that you can write your own css */
/* don rely on the built-in browser defaults */

* {
    border: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,body {height: 100%;}

body {
    font-size: 16px;
    background-image: url(../images/blackhole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;


    font-family: Verdana, Geneva, Tahoma, sans-serif; 

    color: white;
}

header > h1 { text-align: center; padding: 20px;}

main { text-align: center;}

input[type="checkbox"] {margin-right: 8px;}

input[type="checkbox"]:checked::after {
    content: '\272D';
    height: 20px;
    width: 20px;
    border: 80%;
    background-color: lightgreen;
    border: 2px solid green;
    position: relative;
    top: -10px;
    right: -300px;
    font-size: 1.5em;

    animation: fadeIn 0.5s;

}

article {
    width: 25%;
    border: 4px solid white;
    border-radius: 20px;

    display: inline-block;
    margin: 20px 30px;

    text-align: left;
}

main {
    text-align: center;
}

article > h2 { color: rgb(0, 195, 255); padding: 4px 8px;}

article:first-of-type { border: 4px solid gray;}

#planet {border: 4px solid rgba(255, 0, 0, 0.699);}
#planet h2 {color: rgb(141, 14, 0);}


#galaxy { border: 4px solid #e76f51;}
#galaxy h2 { color: #f4a261;}


#blackhole {border: 4px solid rgba(255, 0, 0, 0.699);}
#blackhole h2 { color:rgb(141, 14, 0);}



ul {list-style-type: none;}

ul li {padding: 10px 15px; text-transform: uppercase;}

.planet li:nth-child(odd) 
    {
        background-color: #fca311;
        color: black;
}

.galaxy li:nth-child(odd) 
    {
        background-color: #e5e5e5;
        color: black
}

.blackhole li:nth-child(odd) {
    background-color: #fca311;
    color: black
}

footer { 
    color: white;
    padding: 20px 0;
    text-align: center; 
  }
  
.sticky_footer {
    position: sticky;
    top: 100%;
    height: 100px;

    background-color: rgb(87, 0, 0);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* adding some stuff */